{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block href %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/news_post_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/news_post_responsive.css' %}">
{% endblock %}

{% block content %}
<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url({% static 'images/news_background.jpg' %})"></div>
    </div>
    <div class="home_content">
        <h1>تغيير الاسم</h1>
    </div>
</div>

<div class="news">
    <div class="container">
        <h4>ادخل المعلومات التالية</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Change' %}</button>

    </form>

</div></div>

{% endblock %}
