{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block href %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
<script>document.getElementById("maincss").disabled = true;</script>
{% endblock %}

{% block content %}



<!-- Home -->

<div class="home">
    <div class="home_background_container prlx_parent">
        
        <div class="home_background prlx" style="background-image:url({% static 'images/contact_background.jpg' %})"></div>
    </div>
    <div class="home_content">
        <h1>انضم كمدرب</h1>
    </div>
</div>

<!-- Contact -->

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                
                <!-- Contact Form -->
                <div class="contact_form">
                    <div class="text-right contact_title">املأ المعلومات التالية</div>

                    <div class="contact_form_container">
                        <form method="post">
                            {% csrf_token %}
                            <input name="name" id="contact_form_name" class="text-right input_field contact_form_name" type="text" placeholder="اسمك" required="required" data-error="Name is required.">
                            <input name="phone" id="contact_form_email" class="text-right input_field contact_form_email" type="tel" placeholder="رقمك" required="required" pattern="^\+?\d{9,15}$" data-error="Valid phone number is required.">
                            <textarea id="contact_form_message" class="text-right text_field contact_form_message" name="description" placeholder="نبذة تعريفية عنك" required="required" data-error="Please, write us a message."></textarea>
                            <button id="contact_send_btn" type="submit" class="text-right contact_send_btn trans_200" value="Submit">أرسال</button>
                        </form>
                    </div>
                </div>
                {% bootstrap_messages %}  
            </div>
            
            <div class="col-lg-4">
                <div class="about">
                    <div class="text-right about_title">هل أنت مدرب؟</div>
                    <p class="text-right about_text">اذا كنت تمتلك مهارات كافية لالقاء المحاضرات يمكنك الانضمام معنا, سيتم مراجعة معلوماتك وفي حال تم قبولك سيتم التواصل معك, يمكنك ايضا التواصل معنا عبر المعلومات التالية</p>

                    <div class="contact_info">
                        <ul>
                            <li class="contact_info_item">
                                <div class="contact_info_icon">
                                    <img src="{% static 'images/placeholder.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                بغداد, شارع الربيعي, بناية رقم 64
                            </li>
                            <li class="contact_info_item">
                                <div class="contact_info_icon">
                                    <img src="{% static 'images/smartphone.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                +9647827019484
                            </li>
                            <li class="contact_info_item">
                                <div class="contact_info_icon">
                                    <img src="{% static 'images/envelope.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>hello@company.com
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>


        

    </div>
</div>

{% endblock %}